<p id="notice"><%= notice %></p>




        <nav class="navbar navbar-light navbar-fixed-top" style="background-color:#e3f2fd;">
            <a class="navbar-brand" href="#">Navbar</a>
            <br>
             <form class="form-inline pull-xs-right">
               <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
                <%= submit_tag "Search" %>
            <% end %>
            </form>
        </nav>


      <br>

<div class="container">
      <br>
    <h1>A certain person's simple blog application</h1>
      <br>

  <div class="row">
     
      <div class="col-sm-8">
        <% if @articles.present? %>
          <% @articles.each do |article|  %>
          <div class="card">
            <div class="card-block">
               <h4 class="card-title"><%= article.title %></h4>
               <p class="card-text"><%= @markdown.render(article.body).html_safe %> </p>
            </div>
            <div class="card-footer">
              <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
              <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>

            </div>
          </div>
          <% end %>
        <% else %>
          <p>
            There are no posts containing the term(s) <%= params[:search] %>.
          </p>
        <% end %>
      </div>
  </div>

    <br>

    <%= link_to 'New Article', new_article_path, class: 'btn btn-warning' %>

</div>
